@mixin mobile-only {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin transition($prop: all) {
  transition: $prop 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
