[package]
name = "console"
version = "0.1.0"
edition = "2024"

[dependencies]
memory = { path = "../memory" }
application = { path = "../application" }
tokio = { version = "1.48.0", features = ["full"] }

